<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateus Volpato</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <a href="/sistema/contato">Contato</a> 
    <!-- quando acessado vai ir para a página de contato -->
    <h1>Hello Word!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit distinctio aliquid rem facere velit, sed facilis officiis porro, nihil architecto illum nemo eius sit fugiat praesentium numquam, iusto exercitationem. Veniam!</p>


    <div class="menu-lateral">
        <h2>Menu</h2>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>

    <button>
        Enviar
    </button>
</body>
</html>